:root {
  --primary-color: #2e3b51;
  --text-color: #f3f2f3;
  --accent-color1: #ab46c1;
  --accent-color2: #989ec3;
  --accent-color3: #d9b645;
}

body {
  font-family: "Geologica", sans-serif;
  /* background-color: var(--primary-color); */
  /* color: var(--text-color); */
}

a.navbar-brand {
  font-family: "Press Start 2P", sans-serif;
}

/* .btn-primary { */
/*   background-color: var(--accent-color2); */
/*   border-color: var(--accent-color2); */
/* } */
/*  */
/* .btn-primary:hover { */
/*   background-color: var(--accent-color3); */
/*   border-color: var(--accent-color3); */
/* } */
